<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="net.muratec.mcs.mapper.OhbMapper" >
  <resultMap id="BaseResultMap" type="net.muratec.mcs.model.Ohb" >
    <id column="TSC_ID" property="tscId" jdbcType="VARCHAR" />
    <result column="OHB_NAME" property="ohbName" jdbcType="VARCHAR" />
    <result column="E10_STATE" property="e10State" jdbcType="VARCHAR" />
    <result column="E10_STATE_SET_TIME" property="e10StateSetTime" jdbcType="VARCHAR" />
    <result column="E10_STATE_SET_ORIGINATOR" property="e10StateSetOriginator" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    TSC_ID, OHB_NAME, E10_STATE, E10_STATE_SET_TIME, E10_STATE_SET_ORIGINATOR
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="net.muratec.mcs.model.OhbExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from OHB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from OHB
    where TSC_ID = #{tscId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from OHB
    where TSC_ID = #{tscId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="net.muratec.mcs.model.OhbExample" >
    delete from OHB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="net.muratec.mcs.model.Ohb" >
    insert into OHB (TSC_ID, OHB_NAME, E10_STATE, 
      E10_STATE_SET_TIME, E10_STATE_SET_ORIGINATOR)
    values (#{tscId,jdbcType=VARCHAR}, #{ohbName,jdbcType=VARCHAR}, #{e10State,jdbcType=VARCHAR}, 
      #{e10StateSetTime,jdbcType=VARCHAR}, #{e10StateSetOriginator,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="net.muratec.mcs.model.Ohb" >
    insert into OHB
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tscId != null" >
        TSC_ID,
      </if>
      <if test="ohbName != null" >
        OHB_NAME,
      </if>
      <if test="e10State != null" >
        E10_STATE,
      </if>
      <if test="e10StateSetTime != null" >
        E10_STATE_SET_TIME,
      </if>
      <if test="e10StateSetOriginator != null" >
        E10_STATE_SET_ORIGINATOR,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tscId != null" >
        #{tscId,jdbcType=VARCHAR},
      </if>
      <if test="ohbName != null" >
        #{ohbName,jdbcType=VARCHAR},
      </if>
      <if test="e10State != null" >
        #{e10State,jdbcType=VARCHAR},
      </if>
      <if test="e10StateSetTime != null" >
        #{e10StateSetTime,jdbcType=VARCHAR},
      </if>
      <if test="e10StateSetOriginator != null" >
        #{e10StateSetOriginator,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="net.muratec.mcs.model.OhbExample" resultType="java.lang.Integer" >
    select count(*) from OHB
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update OHB
    <set >
      <if test="record.tscId != null" >
        TSC_ID = #{record.tscId,jdbcType=VARCHAR},
      </if>
      <if test="record.ohbName != null" >
        OHB_NAME = #{record.ohbName,jdbcType=VARCHAR},
      </if>
      <if test="record.e10State != null" >
        E10_STATE = #{record.e10State,jdbcType=VARCHAR},
      </if>
      <if test="record.e10StateSetTime != null" >
        E10_STATE_SET_TIME = #{record.e10StateSetTime,jdbcType=VARCHAR},
      </if>
      <if test="record.e10StateSetOriginator != null" >
        E10_STATE_SET_ORIGINATOR = #{record.e10StateSetOriginator,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update OHB
    set TSC_ID = #{record.tscId,jdbcType=VARCHAR},
      OHB_NAME = #{record.ohbName,jdbcType=VARCHAR},
      E10_STATE = #{record.e10State,jdbcType=VARCHAR},
      E10_STATE_SET_TIME = #{record.e10StateSetTime,jdbcType=VARCHAR},
      E10_STATE_SET_ORIGINATOR = #{record.e10StateSetOriginator,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="net.muratec.mcs.model.Ohb" >
    update OHB
    <set >
      <if test="ohbName != null" >
        OHB_NAME = #{ohbName,jdbcType=VARCHAR},
      </if>
      <if test="e10State != null" >
        E10_STATE = #{e10State,jdbcType=VARCHAR},
      </if>
      <if test="e10StateSetTime != null" >
        E10_STATE_SET_TIME = #{e10StateSetTime,jdbcType=VARCHAR},
      </if>
      <if test="e10StateSetOriginator != null" >
        E10_STATE_SET_ORIGINATOR = #{e10StateSetOriginator,jdbcType=VARCHAR},
      </if>
    </set>
    where TSC_ID = #{tscId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.muratec.mcs.model.Ohb" >
    update OHB
    set OHB_NAME = #{ohbName,jdbcType=VARCHAR},
      E10_STATE = #{e10State,jdbcType=VARCHAR},
      E10_STATE_SET_TIME = #{e10StateSetTime,jdbcType=VARCHAR},
      E10_STATE_SET_ORIGINATOR = #{e10StateSetOriginator,jdbcType=VARCHAR}
    where TSC_ID = #{tscId,jdbcType=VARCHAR}
  </update>
</mapper>